
<p>Your trip to <%= @trip.destination.split(',')[0] %></p>

<div id="trip_container">
  <div class="trip_text">
    Cost to driver
    <h2>$<%= @trip.total_cost %></h2>
  </div>
  <div class="trip_text">
    Fare
    <h2>$20.0</h2>
  </div>
  <div class="trip_text">
    Difference
    <h2>$13.0</h2>
  </div>
</div>
