body > #header {
  height: 80px;
  font-family: 'Cairo', sans-serif;
}

body {
  margin: 1%;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  padding-left: 10px;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: black;
}

.map {
  width: 400px;
}
